@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600&display=swap');

:root {
    --color-primary: rgba(227, 227, 227, 1);
    --color-secundary: rgba(110, 166, 96, 1);

}
.navbar-nav a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: rgba(183, 183, 183, 1);
}

.navbar-toggler {
    font-family: 'Quicksand', sans-serif; 
}

body {
    font-family: 'Quicksand', sans-serif;
    
}

#plants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f3f3f3;
}


.card-img-top {
    width: 280px;
    height: 280px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
}

.card-text {
    font-weight: 400;
    font-size: 14px;
}


nav ul li {
    font-size: 18px;
}

path {
    /* .navbar-brand svg path */
    fill: var(--color-secundary);
}

/* home buscador*/
.fondo{
   
    background-color: rgba(255, 255, 255, 0);
    background-image: url(http:/../img/fondo4.svg);
    height: 200px;
   

}


.contenido {
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 470px;
    color: #5b548a;
    margin: 0px auto;
    border-radius: 20px;
    padding: 60px;
    text-align: center;

}

.buscador {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buscador input {
    border: 0;
    outline: 0;
    background-color: #ededed;
    color: #249b50;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    max-width: 470px;
    box-shadow: rgb(173, 173, 173) 4px 4px 8px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;}

.buscador button {
    background-color: var(--color-secundary);
    border: 0;
    outline: 0;
    background-color: #c7e3c0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;}

.buscador button:active{
    box-shadow: rgb(185, 185, 185) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;}

    @media (max-width: 470px) {
        .buscador input {
          width: 80px;
          height: 50px;
        }
        .buscador button {
            width: 50px;
            height: 50px;
          }
      }
    
      @media (max-width: 470px) {
        .search input {
          width: 80px;
          height: 50px;
        }
        .search button {
            width: 50px;
            height: 50px;
          }
      }
      
   
 /*-----*/

.card2 {
    width: 90%;
    max-width: 470px;
    color: #5b548a;
    margin: 20px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebebeb;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}

.search button {
    border: 0;
    outline: 0;
    background: #ebebeb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}



.weather h1 {
    font-size: 80px;
    font-weight: 400;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.weather-icon {
    margin-top: 50px;
    max-width: 120px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: column;

}

.col p {
    text-align: center;
}

.col img {
    width: 60px;
    margin-bottom: 10px;
}

.humidity,
.wind {
    font-size: 20px;
    width: 100px;
    text-align: center;
}

button svg path {
    fill: rgb(197, 197, 197);
}

.card3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

footer{
    background-color: #555;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}